rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /favourites/{movieId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /lists/{listId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;

        match /movies/{movieId} {
          allow read, write: if request.auth != null && request.auth.uid == userId;
          allow read: if get(/databases/$(database)/documents/users/$(userId)/lists/$(listId)).data.isPublic == true;
        }
      }
    }
  }
}
